{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="small-12 columns">
        <h1>Contact Form</h1>
    </div>
</div>


<form role="form" method="POST" class="form-horizontal">
    <input type="hidden" name="_csrf" value="{{ _csrf }}"/>

    <div class="row">
    <div class="medium-6 columns">
        <label for="name">Name
            <input type="text" name="name" id="name" autofocus="autofocus" class="form-control"/>
        </label>
    </div>
    </div>

    <div class="row">
    <div class="medium-6 columns">
        <label for="email">Email
            <input type="text" name="email" id="email" class="form-control"/>
        </label>
    </div>
    </div>

    <div class="row">
    <div class="medium-6 columns">
        <label for="message">Message
            <textarea type="text" name="message" id="message" rows="7" class="form-control"></textarea>
        </label>
    </div>
    </div>

    <div class="row">
    <div class="medium-6 columns">
        <button type="submit" class="button">Send</button>
    </div>
    </div>

</form>


{% endblock %}