{% extends 'layout.njk' %}

{% block body %}
<div class="expanded row">
  <div class="row">
    <h3>404 - Page Not Found</h3>
    <p>Sorry, that page doesen't exist.</p>
  </div>
</div>
{% endblock %}